<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="News">
<meta name="author" content="robo360">
<title>Tike . Explore events &amp; live the moments</title>
<link rel="icon" href="../img/LOGO11.png" >
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/atastyles.css"><!--importing the ata stylesheet -->
<link rel="stylesheet" type="text/css" href="../css/atastyles_tab.css"><!--importing the ata stylesheet -->
<link rel="stylesheet" type="text/css" href="../css/atastyles_mob.css"><!--importing the ata stylesheet -->

</head>
<body>
<header>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
  <p class="navbar-text navbar-centre">Happy Living . Enjoy Life <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></p>
   <div class="navbar-right">
      <ul class="nav navbar-nav">
       <li class=""><a href="upload.html">Upload Event</a></li>
       <li class=""><a href="join.html">Join</a></li>  
       <li class=""><a href="help.html">Help</a></li> 
       <li class=""><a href="contact.html">Contact Us</a></li>
       </ul>
      </div>
    </div>
</nav>
<div class="container1">
    <div class="element1"><a href="index.html"> <img src="../img/LOGO6.png" class="img"></a></div>
    <div class="element2"><a href="template.html"><span class="glyphicon glyphicon-facetime-video font" aria-hidden="true"></span>
        <span>Movies &amp; Theatres</span></a></div> 
    <div class="element4"><a href="template.html"><span class="glyphicon glyphicon-glass font" aria-hidden="true"></span>
        <span>Party</span></a></div>

    <div class="element3"><a href="template.html"><span class="glyphicon glyphicon-star font" aria-hidden="true"></span>
        <span>Shows</span></a></div>
    <div class="element5"><a href="template.html"><span class="glyphicon glyphicon-blackboard font" aria-hidden="true"></span>
        <span>Seminars</span></a></div>
    <div class="element6"><a href="template.html"><span class="glyphicon glyphicon-flag font" aria-hidden="true"></span>
        <span>Community</span></a></div>
    </div>
</header>
<main class="main">
<div class="container">
 <div class="row slide1">
<div class="col-sm-9 ">
<img src="../img/skol.jpg" class="img-responsive" alt="Skol the best in the beer">

 </div>
<div class="col-sm-3 ads1">
     <span><span><p>ADs</p></span><span>180X400</span></span>
</div>
    </div> 
    </div>
</main>
<footer>
    <div class="footer">  </div>
    
    <div class="footer-end">
    
        <span><span>Copyright © 2017 AKE Ltd</span></span>
        
   
    </div>
    </footer>

<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../js/npm.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>