{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="News">
<meta name="author" content="robo360">
<title>Tike App . {{view}} Tickets anywhere</title>
<link rel="icon" href="{% static '/img/LOGO11.png'%}" >
<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/font-awesome/css/font-awesome.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/atastyles.css' %} "><!--importing the ata stylesheet -->
<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
</head>
<body>
<div class="content-block">
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
  <p class="navbar-text navbar-centre">Happy Living . Enjoy Life <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></p>
   <div class="navbar-right">
      <ul class="nav navbar-nav">


       <li class=""><a href="#">Help</a></li>
       <li class=""><a href="#">Contact Us</a></li>
        <li class=""><a href="/logout">Sign Out</a></li>
       </ul>
      </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
   <div class="secondnav">
      <ul class="nav navbar-nav" >

       <li class=""><a href="/sell#sell"><span><span class="glyphicon glyphicon-shopping-cart font" aria-hidden="true"></span></span> <span><p>SELL</p></span></a></li>
       <li class=""><a href="/transfer"><span><span class="glyphicon glyphicon-transfer font" aria-hidden="true"></span></span><span><p>TRANSFER</p></span></a></li>
          <li class=""><a href="/restore"><span><span class="glyphicon glyphicon-cloud-download font" aria-hidden="true"></span></span><span><p>RESTORE</p></span></a></li>
       <li class=""><a href="/check"><span><span class="glyphicon glyphicon-ok font" aria-hidden="true"></span></span><span>CHECK</span></a></li>
       <li class=""><a href="/tools"><span><span class="glyphicon glyphicon-tasks font" aria-hidden="true"></span></span><span>TOOLS</span></a></li>

       </ul>
      </div>
    </div>
</nav>
<!--  <div class="container1">-->
<!--    <div class="element4"><a href="template.html"><span class="glyphicon glyphicon-facetime-video font" aria-hidden="true"></span>-->
<!--        <span>SELL</span></a></div> -->
<!--    <div class="element3"><a href="template.html"><span class="glyphicon glyphicon-star font" aria-hidden="true"></span>-->
<!--        <span>RESTORE</span></a></div>-->
<!--    <div class="element5"><a href="template.html"><span class="glyphicon glyphicon-blackboard font" aria-hidden="true"></span>-->
<!--        <span>TRANSFER</span></a></div>-->
<!--    <div class="element6"><a href="template.html"><span class="glyphicon glyphicon-flag font" aria-hidden="true"></span>-->
<!--        <span>CHECK</span></a></div>-->
{% block content%}
{% endblock %}
<footer>

    <div class="footer-end">

        <span><span>Copyright © 2017 Tike Ltd</span></span>


    </div>
    </footer>
</div>
<script type="text/javascript" src="{% static '/js/jquery-3.1.1.min.js'%}"></script>
<script type="text/javascript" src="{% static '/js/bootstrap.min.js'%}"></script>
<script type="text/javascript" src="{% static '/js/essay.js'%}"></script>
</body>
</html>
