{% extends 'html/essay/base.html' %}


{% block content %}
<main class="container" style="background-color: #fff;margin-top: 30px;">
<div class="center">
 <div class="loginmodal-container" style="background-color: #fff;margin-top: 30px; height: 250px;" >
					<br>

            <form method="post">
            {% csrf_token %}
                      <h1 class="title">Check Ticket</h1> 
          
          <input type="text" name="pin" placeholder="PIN" required id="pin">
                      <br>
    
					<input type="submit" name="login" class="login loginmodal-submit" value="Check In" id="submit">
				  </form>
    </div> 
    {% if status %}
     <div class="loginmodal-container" style="background-color: #fff;margin-top: 30px; height: 250px;" >
      <p> <span class="glyphicon glyphicon-ok verifier" style="color: limegreen" aria-hidden="true"></span></p>
       <p>Ticket checked in successfully</p>
       <p>Owner: {{owner}}</p>
       <p>Ticket: {{ticket_type}}</p>
       <p>Pin : {{pin}}</p>
    </div>
    {% endif %}
    {% if status == False %}
    <div class="loginmodal-container" style="background-color: #fff;margin-top: 30px; height: 250px;" >
      <p class="center"><span class="glyphicon glyphicon-remove verifier" style="color: red" aria-hidden="true"></span></p>
      <p>Ticket does not exist or already checked in.</p>
      <p>Checked pin was {{pin}}</p>
    </div>
    {% endif %}
</div>  


</main>
{% endblock %}
